* {
    primary: #ecefff;
    primary-fixed: #d9e2ff;
    primary-fixed-dim: #afc6ff;
    on-primary: #000000;
    on-primary-fixed: #000000;
    on-primary-fixed-variant: #00102f;
    primary-container: #aac2fc;
    on-primary-container: #000000;
    secondary: #ecefff;
    secondary-fixed: #dbe2f9;
    secondary-fixed-dim: #bfc6dc;
    on-secondary: #000000;
    on-secondary-fixed: #000000;
    on-secondary-fixed-variant: #091121;
    secondary-container: #bbc2d8;
    on-secondary-container: #000000;
    tertiary: #ffeafb;
    tertiary-fixed: #fcd7fb;
    tertiary-fixed-dim: #dfbbde;
    on-tertiary: #000000;
    on-tertiary-fixed: #000000;
    on-tertiary-fixed-variant: #1e0822;
    tertiary-container: #dbb8da;
    on-tertiary-container: #000000;
    error: #ffece9;
    on-error: #000000;
    error-container: #ffaea4;
    on-error-container: #000000;
    surface: #121318;
    on-surface: #ffffff;
    on-surface-variant: #ffffff;
    outline: #eeeff9;
    outline-variant: #c1c2cc;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #e2e2e9;
    inverse-on-surface: #000000;
    inverse-primary: #2e4779;
    surface-dim: #121318;
    surface-bright: #4f5056;
    surface-container-lowest: #000000;
    surface-container-low: #1e1f25;
    surface-container: #2f3036;
    surface-container-high: #3a3b41;
    surface-container-highest: #45464c;
}
